<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/fragments/elements :: head"/>
    <title>Home Page</title>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".chzn-select").chosen({
                allow_single_deselect: true
            });

            $("#addName option[name='ADD_PAYMENT']").hide();
            $('#addName').trigger("chosen:updated");
            $('#dateToField').hide();
            $('#executionLabel').show();
            $('#fromDateLabel').hide();

            // $("#type").change(function(){
            //     /*TODO: Zmiana wartosci w polu Nazwa Czynności*/
            //     $(this).find("option:selected").each(function(){
            //         var optionValue = $(this).attr("value");
            //         if(optionValue == 'SERVICE'){
            //             $('#dateToField').hide();
            //             $('#executionLabel').show();
            //             $('#fromDateLabel').hide();
            //         } else{
            //             $('#dateToField').show();
            //             $('#fromDateLabel').show();
            //             $('#executionLabel').hide();
            //         }
            //     });
            // }).change();

            $(function () {
                $('#datetimepicker1').datetimepicker({
                    format: 'DD-MM-YYYY'
                });
                $('#datetimepicker2').datetimepicker({
                    format: 'DD-MM-YYYY',
                    useCurrent: false
                });
                $("#datetimepicker1").on("dp.change", function (e) {
                    $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
                });
                $("#datetimepicker2").on("dp.change", function (e) {
                    $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
                });
            });

        });

        $(document).on('change', '#addType', function () {
            var val = $('#addType').val();
            if(val == 'SERVICE'){
                $('#dateToField').hide();
                $('#executionLabel').show();
                $('#fromDateLabel').hide();
                $('#addName option[name="ADD_SERVICE"]').show();
                $("#addName option[name='ADD_PAYMENT']").hide();
                $('#addName option[name="empty"]').attr('selected', 'selected');
                $('#addName').trigger("chosen:updated");
            } else {
                $('#dateToField').show();
                $('#fromDateLabel').show();
                $('#executionLabel').hide();
                $("#addName option[name='ADD_SERVICE']").hide();
                $("#addName option[name='ADD_PAYMENT']").show();
                $('#addName option[name="empty"]').attr('selected', 'selected');
                $('#addName').trigger("chosen:updated");
            }
        });
    </script>

</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="/fragments/header :: header">Header</div>
    <div th:replace="/fragments/menu :: menu">Menu</div>
    <div class="content-wrapper">
        <div class="main-container container-fluid">
            <div th:replace="/fragments/alerts :: alerts(alertType=${alertType}, info=${info})">Alerts</div>
        </div>

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <div th:if="${action}">Edycja</div>
                <div th:unless="${action}">Dodawanie</div>
                <small>serwisu</small>
            </h1>
        </section>

        <!-- EDYCJA -->
        <section class="content" th:if="${action}">
            <!-- Page Content -->
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title" th:text="#{label.service.new}"/>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form role="form" th:action="@{/edit-service}" th:object="${service}" lpformnum="2" method="post">
                        <!-- text input -->
                        <input type="hidden" class="form-control" name="id" required="required" th:value="*{id}" />
                        <div class="form-group">
                            <label th:text="#{menu.car}"/>
                            <select class="form-control chzn-select" name="car" required="required" th:field="*{car}" disabled="disabled">
                                <option th:each="car : ${cars}" th:value="${car.id}" th:text="${car.brand + ' ' + car.model + ' (' + car.name + ')'}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.dictionary.type}"/>
                            <select class="form-control chzn-select" name="type" required="required" id="type" th:field="*{type.type}" disabled="disabled">
                                <option id="typeValue" th:each="type : ${T(com.spring.start.entity.DictionaryType).values()}" th:value="${type}" th:text="${type.displayName}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.dictionary.serwisName}" id="name"/>
                            <div>
                                <select class="form-control chzn-select"  name="name" th:field="*{type}" disabled="disabled">
                                    <option id="SERVICE" th:each="dict : ${serviceDict}" th:id="${dict.type}" th:value="${dict.id}" th:text="${dict.name}"></option>
                                    <option id="PAYMENT" th:each="dict : ${paymentDict}" th:id="${dict.type}" th:value="${dict.id}" th:text="${dict.name}" disabled="disabled"></option>
                                </select>
                                <!--<select id="PAYMENT" class="form-control chzn-select"  name="name" hidden="hidden">-->
                                <!--<option id="PAYMENT" th:each="dict : ${paymentDict}" th:id="${dict.type}" th:value="${dict.id}" th:text="${dict.name}"></option>-->
                                <!--</select>-->
                            </div>
                        </div>
                        <div class="form-group date">
                            <div>
                                <label th:text="#{label.fromDate}" id="fromDateLabel" visible="hidden"/>
                                <label th:text="#{label.executionDate}" id="executionLabel" visible="visible"/>
                            </div>
                            <div class="input-group">
                                <input class="form-control datepicker" id="date" name="date" th:value="*{executionDate}" placeholder="dd-mm-yyyy" type="text" readonly="readonly"/>
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        <div class="input-group date" id="dateToField">
                            <label th:text="#{label.toDate}"/>
                            <input class="form-control datepicker" id="dateTo" name="dateTo" th:value="*{endDate}" placeholder="dd-mm-yyyy" type="text" readonly="readonly"/>
                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                        </div>
                        <button type="submit" class="btn btn-primary" th:text="#{button.add}"/>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!---->
        </section>

        <!-- DODAWANIE -->
        <section class="content" th:unless="${action}">
            <!-- Page Content -->
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title" th:text="#{label.service.new}"/>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form role="form" th:action="@{/add-service}" th:object="${service}" lpformnum="2" method="post">
                        <!-- text input -->
                        <div class="form-group">
                            <label th:text="#{menu.car}"/>
                            <select class="form-control chzn-select" name="car" required="required">
                                <option th:each="car : ${cars}" th:value="${car.id}" th:text="${car.brand + ' ' + car.model + ' (' + car.name + ')'}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.dictionary.type}"/>
                            <select class="form-control chzn-select" name="type" required="required" id="addType">
                                <option th:each="type : ${T(com.spring.start.entity.DictionaryType).values()}" th:value="${type}" th:text="${type.displayName}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.dictionary.serwisName}" id="name"/>
                            <div>
                                <select class="form-control chzn-select"  id="addName" name="name">
                                    <option name="empty"></option>
                                    <option name="ADD_SERVICE" th:each="dict : ${serviceDict}" th:value="${dict.id}" th:text="${dict.name}"></option>
                                    <option name="ADD_PAYMENT" th:each="dict : ${paymentDict}" th:value="${dict.id}" th:text="${dict.name}"></option>
                                </select>
                                <!--<select id="PAYMENT" class="form-control chzn-select"  name="name" hidden="hidden">-->
                                    <!--<option id="PAYMENT" th:each="dict : ${paymentDict}" th:id="${dict.type}" th:value="${dict.id}" th:text="${dict.name}"></option>-->
                                <!--</select>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3" align="right">
                                    <label th:text="#{label.fromDate}" id="fromDateLabel" visible="hidden"/>
                                    <label th:text="#{label.executionDate}" id="executionLabel" visible="visible"/>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-group date" id="datetimepicker1">
                                            <input type="text" class="form-control" id="date" name="date" th:value="${date}" />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="dateToField">
                            <div class="row">
                                <div class="col-md-3" align="right">
                                    <label th:text="#{label.toDate}"/>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-group date" id="datetimepicker2">
                                            <input type="text" class="form-control" id="dateTo" name="dateTo" th:value="${dateTo}" />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" >
                            <div class="row">
                                <div class="col-md-3" align="right">
                                    <label th:text="#{label.service.cost}"/>
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control col-md-4" id="cost.amount" name="cost.amount" th:value="${date}" type="number" step="0.01"/>
                                </div>
                                <div class="col-md-1">
                                    <select class="form-control chzn-select col-md-1" name="cost.currency" required="required" id="cost.currency">
                                        <option value="PLN">PLN</option>
                                        <option value="EUR">EUR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" th:text="#{button.add}"/>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!---->
        </section>
    </div>
    <div th:replace="/fragments/footer :: footer">Footer</div>
</div>
</body>
</html>