<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/fragments/elements :: head"/>
    <title>Home Page</title>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.additional').hide();

            $('input').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
                increaseArea: '10%' // optional
            });

            $("#isTrailer").on('ifChanged', function(event) {
                if ($(this).is(":checked")) {
                    $(".additional").show();
                    $("#trailer_chosen").css("width",  "100%");
                } else
                    $(".additional").hide();
            });

            $(".chzn-select").chosen();

            $(function () {
                $('#datetimepicker1').datetimepicker({
                    format: 'YYYY-MM-DD HH:mm:ss'
                });
                $('#datetimepicker2').datetimepicker({
                    format: 'YYYY-MM-DD HH:mm:ss',
                    useCurrent: false
                });
                $("#datetimepicker1").on("dp.change", function (e) {
                    $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
                });
                $("#datetimepicker2").on("dp.change", function (e) {
                    $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
                });
            });

        });

        $(document).on('change', '#car', function () {
            var id = $('#car').find("option:selected").attr("id");
            if(id == 'TRAILER'){
                $('#connectTrailer').hide();
            } else {
                $('#connectTrailer').show();
            }
        });
    </script>

</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="/fragments/header :: header">Header</div>
    <div th:replace="/fragments/menu :: menu">Menu</div>
    <div class="content-wrapper">
        <div class="main-container container-fluid">
            <div th:replace="/fragments/alerts :: alerts(alertType=${alertType}, info=${info})">Alerts</div>
        </div>

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dodawanie
                <small>nowego wyporzyczenia</small>
            </h1>
        </section>

        <section class="content">
            <!-- Page Content -->
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title" th:text="#{label.rent.newRent}"/>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form role="form" th:action="@{/add-rent}"  lpformnum="2" method="post">
                        <!-- text input -->

                        <!--TODO: przy wyborze lawety tutaj są tylko samochody-->
                        <div class="form-group" id="cars">
                            <div class="row">
                                <div class="col-md-3" align="right">
                                    <label th:text="#{menu.car}"/>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control chzn-select" name="car" id="car" required="required">
                                        <option th:each="car : ${cars}" th:id="${car.isTrailer} ? 'TRAILER' : 'CAR'" th:value="${car.id}" th:text="${car.brand + ' ' + car.model + ' (' + car.name + ')'}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3" align="right">
                                    <label th:text="#{label.dictionary.type}"/>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control chzn-select" name="customer" required="required">
                                        <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.name + ' ' + customer.surname}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3" align="right">
                                    <label th:text="#{label.rent.startDate}"/>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="input-group date" id="datetimepicker1">
                                            <input type="text" class="form-control" id="startDate" name="startDate" th:value="${startDate}"/>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3" align="right">
                                    <label th:text="#{label.rent.endDate}"/>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="input-group date" id='datetimepicker2'>
                                            <input type="text" class="form-control" id="endDate" name="endDate" th:value="${endDate}"/>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3" align="right">
                                    <label th:text="#{label.rent.income}"/>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control" id="income.amount" name="income.amount" th:value="${income}" type="number" step="0.01"/>
                                </div>
                                <div class="col-md-1">
                                    <select class="form-control" name="income.currency" required="required" id="income.currency">
                                        <option value="PLN">PLN</option>
                                        <option value="EUR">EUR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3" align="right">
                                    <label th:text="#{label.rent.startCourse}"/>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" id="startCourse" name="startCourse" th:value="${startCourse}" type="number" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3" align="right">
                                    <label th:text="#{label.rent.endCourse}"/>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" id="endCourse" name="endCourse" th:value="${endCourse}" type="number" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3" align="right">
                                    <label th:text="#{label.general.description}"/>
                                </div>
                                <div class="col-md-6">
                                    <textarea class="form-control" rows="3" id="description"  name="description" th:placeholder="#{label.general.description}"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3" align="right">
                                    <label th:text="#{label.dictionary.type}"/>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control chzn-select" name="status" required="required" id="status">
                                        <option id="statusOption" th:each="status : ${T(com.spring.start.entity.RentStatus).values()}" th:disabled="${status.level == 3}" th:value="${status}" th:text="${status.displayName}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="connectTrailer">
                            <div class="row">
                                <div class="col-md-4" align="right">
                                    <label for="isTrailer" th:text="#{label.trailer}"/>
                                </div>
                                <div class="col-md-1">
                                    <input type="checkbox" name="isTrailer" id="isTrailer"/>
                                </div>
                            </div>
                        </div>
                        <div class="additional">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3" align="right">
                                        <label th:text="#{label.rent.income}"/>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control" id="additionalIncome.amount" name="additionalIncome.amount" th:value="${additionalIncome}" type="number" step="0.01"/>
                                    </div>
                                    <div class="col-md-1">
                                        <select class="form-control" name="additionalIncome.currency" required="required" id="additionalIncome.currency">
                                            <option value="PLN">PLN</option>
                                            <option value="EUR">EUR</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3" align="right">
                                        <label th:text="#{menu.carCarrier}"/>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control chzn-select" id="trailer" name="trailer">
                                            <option th:each="trailer : ${trailers}" th:value="${trailer.id}" th:text="${trailer.brand + '-' + trailer.name}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"></div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary" th:text="#{button.add}"/>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!---->
        </section>
    </div>
    <div th:replace="/fragments/footer :: footer">Footer</div>
</div>
</body>
</html>