<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/fragments/elements :: head"/>
    <title>Home Page</title>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="/fragments/header :: header">Header</div>
    <div th:replace="/fragments/menu :: menu">Menu</div>
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Informacje
                <small>o samochodzie</small>
            </h1>
        </section>

        <section class="content">
            <!-- Page Content -->
            <div class="box" th:object="${car}">
                <div class="box-header with-border">
                    <h3 class="box-title" th:text="#{label.overallInformation}"></h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <div class="btn-group">
                            <a th:href="@{/car/{id}/edit(id=*{id})}">
                                <button type="button" class="btn btn-box-tool" aria-expanded="false" data-toggle="tooltip" data-placement="bottom" title="Edytuj">
                                    <i class="fa fa-wrench"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="display: block;">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="text-center">
                                <strong th:text="*{brand + ' ' + model}"></strong>
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" th:text="#{label.car.name}"></div>
                        <div class="col-md-3" th:text="*{name}"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" th:text="#{label.car.registration_no}"></div>
                        <div class="col-md-3" th:text="*{registrationNumber}"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title" th:text="#{label.service.service}"></h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap"><div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row"><div class="col-sm-12">
                            <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" hidden="hidden">Id</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" th:text="#{label.general.name}"></th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" th:text="#{label.executionDate}"></th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" th:text="#{label.actions}"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr role="row" class="odd" th:each="s : ${service}">
                                    <td class="sorting_1" hidden="hidden" th:text="${s.id}"></td>
                                    <td class="sorting_1" th:text="${s.type.name}"></td>
                                    <td th:text="${s.executionDate}"></td>
                                    <td>
                                        <a th:href="@{/service/{id}(id=${s.id})}" style="float: left"><button type="button" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>

                                        <div style="float: left">
                                            <form th:action="@{/delete-service}" method="post">
                                                <input type="hidden" name="id" th:value="${s.id}"/>
                                                <input type="hidden" name="carId" th:value="${car.id}"/>
                                                <button type="button" name="delete" class="btn btn-block btn-danger btn-xs" data-toggle="modal" data-target="#myModal1"><i class="fa fa-trash" aria-hidden="true"></i></button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title" id="myModalLabel1" th:text="#{title.modal.customers}"></h4>
                                                            </div>
                                                            <div class="modal-body" th:text="#{description.modal.customers}"></div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{button.reject}"></button>
                                                                <button type="submit"  class="btn btn-primary" th:text="#{button.accept}"></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div style="clear:both;"></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                            <!-- /.box-body -->
                        </div>


                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title" th:text="#{label.service.payment}"></h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">


                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap"><div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row"><div class="col-sm-12">
                            <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" hidden="hidden">Id</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" th:text="#{label.general.name}"></th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" th:text="#{label.fromDate}"></th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" th:text="#{label.toDate}"></th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" th:text="#{label.actions}"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr role="row" class="odd" th:each="p : ${periodicService}">
                                    <td class="sorting_1" hidden="hidden" th:text="${p.id}"></td>
                                    <td class="sorting_1" th:text="${p.type.name}"></td>
                                    <td th:text="${p.executionDate}"></td>
                                    <td th:text="${p.endDate}"></td>
                                    <td>
                                        <a th:href="@{/service/{id}(id=${p.id})}" style="float: left"><button type="button" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                        <!-- TODO: włączyć gdy będzie naprawa edycji w serwisie -->
                                        <!--<a th:href="@{/service/{id}/edit(id=*{p.id})}" style="float: left"><button type="button" class="btn btn-box-tool" data-toggle="tooltip"><i class="fa fa-wrench" aria-hidden="true"></i></button></a>-->
                                        <div style="float: left">
                                            <form th:action="@{/delete-periodic}" method="post">
                                                <input type="hidden" name="id" th:value="${p.id}"/>
                                                <input type="hidden" name="carId" th:value="${car.id}"/>
                                                <button type="button" name="delete" class="btn btn-block btn-danger btn-xs" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash" aria-hidden="true"></i></button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title" id="myModalLabel" th:text="#{title.modal.customers}"></h4>
                                                            </div>
                                                            <div class="modal-body" th:text="#{description.modal.customers}"></div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{button.reject}"></button>
                                                                <button type="submit"  class="btn btn-primary" th:text="#{button.accept}"></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                        <div style="clear:both;"></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                            <!-- /.box-body -->
                        </div>
                        
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!---->
        </section>
    </div>
    <div th:replace="/fragments/footer :: footer">Footer</div>
</div>
</body>
</html>