<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/fragments/elements :: head"/>
    <title>Home Page</title>

</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="/fragments/header :: header">Header</div>
    <div th:replace="/fragments/menu :: menu">Menu</div>
    <div class="content-wrapper">
        <div class="main-container container-fluid">
            <div th:replace="/fragments/alerts :: alerts(alertType=${alertType}, info=${info})">Alerts</div>
        </div>

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Lista
                <small>samochodów</small>
            </h1>
        </section>

        <section class="content">
            <!-- Page Content -->
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap"><div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row"><div class="col-sm-12">
                        <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" hidden="hidden">Id</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" th:text="#{label.car.brand}"></th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" th:text="#{label.car.model}"></th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" th:text="#{label.car.name}"></th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" th:text="#{label.car.registration_no}"></th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" th:text="#{label.actions}"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd" th:each="c : ${cars}">
                                    <td class="sorting_1" hidden="hidden" th:text="${c.id}"></td>
                                    <td class="sorting_1" th:text="${c.brand}"></td>
                                    <td th:text="${c.model}"></td>
                                    <td th:text="${c.name}"></td>
                                    <td th:text="${c.registrationNumber}"></td>
                                    <td>
                                        <a th:href="@{/car/{id}(id=${c.id})}" style="float: left"><button type="button" class="btn btn-block btn-warning btn-xs"><i class="fa fa-info" aria-hidden="true"></i></button></a>

                                        <div style="float: left">
                                            <form th:action="@{/delete-car}" method="post">
                                                <input type="hidden" name="id" th:value="${c.id}"/>
                                                <button type="button" name="action" value="delete" class="btn btn-block btn-danger btn-xs" data-toggle="modal" th:attr="data-target='#deleteModal' + ${c.id}"><i class="fa fa-trash" aria-hidden="true"></i></button>

                                                <!-- Modal -->
                                                <div class="modal modal-danger fade" th:id="deleteModal + ${c.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                <h4 class="modal-title" id="myModalLabel" th:text="#{label.car.message.delete.AreYouSure}"></h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p th:text="#{label.general.message.deleteData}"></p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" th:text="#{button.reject}"></button>
                                                                <button type="submit" class="btn btn-outline" th:text="#{button.accept}"></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>

                                        <div style="clear:both;"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
                </div>
                </div>
            </div>
            <!---->
        </section>

    </div>
    <div th:replace="/fragments/footer :: footer">Footer</div>
</div>
</body>
</html>