<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/fragments/elements :: head"/>
    <title>Home Page</title>
</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="/fragments/header :: header">Header</div>
    <div th:replace="/fragments/menu :: menu">Menu</div>
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Tytuł
                <small>i opis</small>
            </h1>
        </section>
        <!---->

        <section class="content">

            <!-- Page Content -->

            TRESC STRONY MA BYC TUTAJ RESZTY SIE NIE RUSZA

            <!---->

        </section>
    </div>
    <div th:replace="/fragments/footer :: footer">Footer</div>
</div>
</body>
</html>