<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/fragments/elements :: head"/>
    <title>Home Page</title>
</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="/fragments/header :: header">Header</div>
    <div th:replace="/fragments/menu :: menu">Menu</div>
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
                <small>kosodrzewina</small>
            </h1>
        </section>
        <!---->

        <section class="content">

            <!-- Widgety -->

            <div class="row">
                <div class="col-lg-5">
                    <!-- small box -->
                    <div class="small-box" th:classappend="${expiringServicesCount == 0} ? bg-green : bg-red">
                        <div class="inner">
                            <h3 th:text="${expiringServicesCount}" />
                            <p>Serwisy wygasające w przeciągu 14 dni</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-gear-outline"></i>
                        </div>
                        <a href="/services?type=expiring" class="small-box-footer">Info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
            </div>
            <div class="col-md-3">
                <div class="box box-warning box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Kursy walut</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="">
                        <div th:replace="/pages/ExchangeRateTable :: exchangeRate"></div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

            <!-- Dalsza treść -->

            <div class="row">
                <!-- Page Content -->

                <!---->
            </div>

        </section>
    </div>
    <div th:replace="/fragments/footer :: footer">Footer</div>
</div>
</body>
</html>