<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"/>

    <link rel="stylesheet" href="/css/chosen.min.css"/>
    <link rel="stylesheet" href="/css/custom.css"/>
    <link rel="stylesheet" href="/css/AdminLTE.css"/>

    <script src="/js/jquery-3.1.1.min.js"/>
    <script src="/js/validator.min.js"/>
    <script src="/js/chosen.jquery.min.js"/>
    <script src="https://use.fontawesome.com/30e4d80a01.js"/>

    <meta charset="UTF-8"/>
    <title>HomePage</title>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/header :: header">Header</div>
    <div th:replace="fragments/menu :: menu">Menu</div>
    <div class="content-wrapper">
        <div>
            <div class="alert alert-danger">
                <strong th:text="#{error.page.description}"></strong>
            </div>
            <div class="error-details">
                <div>
                    <strong th:text="#{error.page.details}"></strong>
                </div>
                <br/>
                <table class="table table-narrow">
                    <tr th:each="e : ${errorDetails}">
                        <td th:text="${e.getKey()}"></td>
                        <td th:text="${e.getValue()}"></td>
                    </tr>
                </table>
            </div>
            <div class="stacktrace" th:if="${hasStacktrace}">
                <strong th:text="#{error.page.stacktrace}"></strong>
                <pre th:text="${stacktrace}"></pre>
            </div>
        </div>
    </div>
    <div if="footer" style="clear:both">
        <div th:replace="fragments/footer :: footer"> Footer</div>
    </div>
</div>
</body>
</html>