<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/fragments/elements :: head"/>
    <title>ERROR</title>
</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="/fragments/header :: header">Header</div>
    <div th:replace="/fragments/menu :: menu">Menu</div>
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                ERROR
                <small th:text="${errorCode}"/>
            </h1>
        </section>
        <!---->

        <section class="content">

            <!-- Page Content -->
            <div>
                <div class="box box-danger">
                    <div class="box-header">
                        <h3 class="box-title" th:text="#{error.page.details}" />
                    </div>
                    <div class="box-body">
                        <table class="table table-striped">
                            <tr th:each="e : ${errorDetails}">
                                <td th:text="${e.getKey()}"></td>
                                <td th:text="${e.getValue()}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="box box-danger collapsed-box" th:if="${hasStacktrace}">
                    <div class="box-header">
                        <h3 class="box-title" th:text="#{error.page.stacktrace}" />
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-plus" />
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <pre th:text="${stacktrace}"></pre>
                    </div>
                </div>
            </div>
            <!---->

        </section>
    </div>
    <div th:replace="/fragments/footer :: footer">Footer</div>
</div>
</body>
</html>