<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/fragments/elements :: head"/>
    <title>Register | Kosodrzewina</title>
</head>
<body class="hold-transition register-page">
<div>
    <div class="register-box">
        <div class="register-logo">
            <a href="#"><b>Kosodrzewina</b></a>
        </div>
        <div class="register-box-body">
            <p class="register-box-msg">Register a new membership</p>

            <form th:action="@{/register}" th:object="${user}" method="post">
                <div class="form-group has-feedback">
                    <input class="form-control" type='text' id="name" name="name" required="required" placeholder="Name" />
                </div>
                <div class="form-group has-feedback">
                    <input class="form-control" type='text' id="surname" name="surname" required="required" placeholder="Surname" />
                </div>
                <div class="form-group has-feedback">
                    <input class="form-control" type='text' id="username" name="username" required="required" placeholder="Username" />
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input class="form-control" type='password' id="password" name='password' required="required" placeholder="Password" />
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input class="form-control" type='password' id="repeatPassword" name='repeatPassword' required="required" placeholder="Retype password" />
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" th:text="#{button.register}"/>
                    </div>
                </div>
            </form>

            <a href="login.html" class="text-center">I already have a membership</a>
        </div>

    </div>
</div>
</body>
</html>