<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/fragments/elements :: head"/>
    <title>Home Page</title>
</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="/fragments/header :: header">Header</div>
    <div th:replace="/fragments/menu :: menu">Menu</div>
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Rejestracja
                <small></small>
            </h1>
        </section>
        <!---->

        <section class="content">

            <!-- Page Content -->

            <div class="register-box">
                <div class="register-logo">
                    <a href="#"><b>Kosodrzewina</b></a>
                </div>
                <div class="register-box-body">
                    <p class="register-box-msg">Register a new membership</p>

                    <form th:action="@{/register}" th:object="${newUser}" method="post">
                        <div class="form-group has-feedback">
                            <input class="form-control" type='text' id="name" name="name" required="required" placeholder="Name" />
                        </div>
                        <div class="form-group has-feedback">
                            <input class="form-control" type='text' id="surname" name="surname" required="required" placeholder="Surname" />
                        </div>
                        <div class="form-group has-feedback">
                            <input class="form-control" type='text' id="username" name="username" required="required" placeholder="Username" />
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input class="form-control" type='password' id="password" name='password' required="required" placeholder="Password" />
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input class="form-control" type='password' id="repeatPassword" name='repeatPassword' required="required" placeholder="Retype password" />
                            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <button type="button" class="btn btn-primary btn-block btn-flat" data-toggle="modal" data-target="#myModal" th:text="#{button.register}"/>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel" th:text="#{title.modal.register}"></h4>
                                    </div>
                                    <div class="modal-body" th:text="#{description.modal.register}"></div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{button.reject}"></button>
                                        <button type="submit" class="btn btn-primary" th:text="#{button.accept}"></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>

                    <a href="login.html" class="text-center">I already have a membership</a>
                </div>

            </div>

            <!---->

        </section>
    </div>
    <div th:replace="/fragments/footer :: footer">Footer</div>
</div>
</body>
</html>