<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/fragments/elements :: head"/>
    <title>Home Page</title>
    <script>
        $(document).ready(function() {
            $('.datepicker').datepicker({
                format: "dd-mm-yyyy",
                orientation: "right",
                todayHighlight: true,
                autoclose: true,
                weekStart: 1
            });
        });

    </script>
</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="/fragments/header :: header">Header</div>
    <div th:replace="/fragments/menu :: menu">Menu</div>
    <div class="content-wrapper">
        <div class="main-container container-fluid">
            <div th:replace="/fragments/alerts :: alerts(alertType=${alertType}, info=${info})">Alerts</div>
        </div>
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Lista
                <small>wypożyczeń </small>
            </h1>
        </section>

        <section class="content">
            <!-- Page Content -->
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap"><div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row"><div class="col-sm-12">
                        <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending">Id</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" th:text="#{menu.car}"></th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" th:text="#{menu.customer}"></th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" th:text="#{label.rent.startDate}"></th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" th:text="#{label.rent.endDate}"></th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" th:text="#{label.rent.income}"></th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" th:text="#{label.rent.status}"></th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" th:text="#{label.actions}"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd" th:each="rent : ${rents}">
                                    <td class="sorting_1" th:text="${rent.id}"></td>
                                    <td class="sorting_1" th:with="additionalCarCarrier=${rent.trailer != null} ? ${' + ' + rent.trailer.car.brand + ' ' + rent.trailer.car.name} : ${''}" th:text="${rent.car.brand + ' ' + rent.car.model + '(' + rent.car.name + ')' + additionalCarCarrier}"></td>
                                    <td th:text="${rent.customer.name + ' ' + rent.customer.surname}"></td>
                                    <td th:text="${rent.startDate}"></td>
                                    <td th:text="${rent.endDate}"></td>
                                    <td th:text="${rent.income}"></td>
                                    <td th:text="${rent.status.displayName}"></td>
                                    <td>
                                        <a th:href="@{/rent/{id}(id=${rent.id})}" style="float: left"><button type="button" class="btn btn-block btn-warning btn-xs"><i class="fa fa fa-arrow-right" aria-hidden="true"></i></button></a>
                                        <div style="float: left">
                                            <form th:action="@{/delete-rent}" method="post">
                                                <input type="hidden" name="id" th:value="${rent.id}"/>
                                                <button type="button" name="delete" class="btn btn-block btn-danger btn-xs" data-toggle="modal" th:attr="data-target='#deleteModal' + ${rent.id}"><i class="fa fa-trash" aria-hidden="true"></i></button>

                                                <!-- Modal -->
                                                <div class="modal modal-danger fade" th:id="deleteModal + ${rent.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                <h4 class="modal-title" id="myModalLabel" th:text="#{label.rent.message.delete.areYouSure}"></h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p th:text="#{label.general.message.deleteData}"></p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" th:text="#{button.reject}"></button>
                                                                <button type="submit" class="btn btn-outline" th:text="#{button.accept}"></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div style="float: left">
                                            <form th:action="@{/return-rent}" method="post">
                                                <input type="hidden" name="id" th:value="${rent.id}"/>
                                                <button type="button" th:disabled="${rent.status.level == 3}" name="return" class="btn btn-block btn-primary btn-xs" data-toggle="modal" th:attr="data-target='#returnModal' + ${rent.id}" th:text="#{label.general.return}"></button>

                                                <!-- Modal -->

                                                <div class="modal modal-info fade" th:id="returnModal + ${rent.id}" role="dialog" aria-labelledby="myModalLabel2">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                <h4 class="modal-title" id="myModalLabel2" th:text="#{label.rent.message.return.areYouSure}"></h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <input type="text" name="id" th:value="${rent.id}"/>
                                                                <div class="row">
                                                                    <div class="col-md-2"></div>
                                                                    <div class="col-md-2" align="right">
                                                                        <label th:text="#{label.rent.endDate}"/>
                                                                    </div>
                                                                    <div class="col-md-5">
                                                                        <div class="form-group">
                                                                            <div class="input-group date">
                                                                                <input class="form-control datepicker" id="endDate" name="endDate"
                                                                                       th:value="${#dates.format(rent.endDate, 'dd-MM-yyyy')}"
                                                                                       placeholder="dd-mm-yyyy" type="text" readonly="readonly"/>
                                                                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-2"></div>
                                                                    <div class="col-md-2" align="right">
                                                                        <label th:text="#{label.rent.endCourse}"/>
                                                                    </div>
                                                                    <div class="col-md-5">
                                                                        <div class="input-group">
                                                                            <input class="form-control" id="endCourse" name="endCourse" th:value="${rent.endCourse}" type="number" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-2"></div>
                                                                    <div class="col-md-4" align="right">
                                                                        <label for="isTrailer" th:text="#{label.trailer}"/>
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <input type="checkbox" name="isTrailer" id="isTrailer"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" th:text="#{button.reject}"></button>
                                                                <button type="submit" class="btn btn-outline" th:text="#{button.accept}"></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div style="float: left">
                                            <form th:action="@{/rent-rent}" method="post">
                                                <input type="hidden" name="id" th:value="${rent.id}"/>
                                                <button type="submit" th:disabled="${rent.status.level !=1}" class="btn btn-block btn-success btn-xs" th:text="#{label.rent.rent}"></button>
                                            </form>
                                        </div>
                                        <div style="clear:both;"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
                </div>
                </div>
            </div>
            <!---->
        </section>
    </div>
    <div th:replace="/fragments/footer :: footer">Footer</div>
</div>
</body>
</html>