<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/fragments/elements :: head"/>
    <title>Serwisy</title>

</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="/fragments/header :: header">Header</div>
    <div th:replace="/fragments/menu :: menu">Menu</div>
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Lista
                <small th:if="${type==expiring}">wygasających</small>
                <small>serwisów</small>
            </h1>
        </section>
        <!--<tr role="row" class="odd" th:each="c : ${cars}">-->

        <section class="content">
            <!-- Page Content -->

            <strong th:if="${services.size() == 0}">Brak</strong>
            <div class="box" th:if="${services.size() != 0}">
                <!--<div class="box-header">-->
                    <!--<h3 class="box-title">Responsive Hover Table</h3>-->

                    <!--<div class="box-tools">-->
                        <!--<div class="input-group input-group-sm" style="width: 150px;">-->
                            <!--<input type="text" name="table_search" class="form-control pull-right" placeholder="Search">-->

                            <!--<div class="input-group-btn">-->
                                <!--<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Samochód</th>
                                <th>Typ</th>
                                <th>Koszt</th>
                                <th>Data od</th>
                                <th>Data do</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="s : ${services}">
                                <td th:text="${s.getCar()}" />
                                <td th:text="${s.getType()}" />
                                <td th:text="${s.getCost()}" />
                                <td th:text="${s.getDate()}" />
                                <td th:text="${s.getDateTo()}" />
                                <td>
                                    <span class="badge" th:if="${s.getRemainingDays() != null}" th:classappend="${s.getRemainingDays() > 14} ? bg-green : bg-red">
                                        <th:block  th:text="${s.getRemainingDays()}" />
                                        <th:block th:if="${s.getRemainingDays() == 1}">dzień</th:block>
                                        <th:block th:if="${s.getRemainingDays() != 1}">dni</th:block>
                                        do końca
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

            <!---->
        </section>

    </div>
    <div th:replace="/fragments/footer :: footer">Footer</div>
</div>
</body>
</html>